<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <welcome-file-list>
        <welcome-file>General/LogIn.jsp</welcome-file>
    </welcome-file-list>
    
    <servlet>
        <servlet-name>ServletLogIn</servlet-name>
        <servlet-class>LogIn.ServletLogIn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogIn</servlet-name>
        <url-pattern>/ServletLogIn</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletChangePassword</servlet-name>
        <servlet-class>ChangePassword.ServletChangePassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletChangePassword</servlet-name>
        <url-pattern>/ServletChangePassword</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletCreateRequestClub</servlet-name>
        <servlet-class>CreateRequestClub.ServletCreateRequestClub</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCreateRequestClub</servlet-name>
        <url-pattern>/ServletCreateRequestClub</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletSelectRequestedClubsParameters</servlet-name>
        <servlet-class>CreateRequestClub.ServletSelectRequestedClubsParameters</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletSelectRequestedClubsParameters</servlet-name>
        <url-pattern>/ServletSelectRequestedClubsParameters</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletAddOrDeleteRequestedClubs</servlet-name>
        <servlet-class>CreateRequestClub.ServletAddOrDeleteRequestedClubs</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAddOrDeleteRequestedClubs</servlet-name>
        <url-pattern>/ServletAddOrDeleteRequestedClubs</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletFindStudent</servlet-name>
        <servlet-class>FindStudent.ServletFindStudent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletFindStudent</servlet-name>
        <url-pattern>/ServletFindStudent</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletOutPutListOfStudents</servlet-name>
        <servlet-class>FindStudent.ServletOutPutListOfStudents</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletOutPutListOfStudents</servlet-name>
        <url-pattern>/ServletOutPutListOfStudents</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletAddModerators</servlet-name>
        <servlet-class>AddModerators.ServletAddModerators</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAddModerators</servlet-name>
        <url-pattern>/ServletAddModerators</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletListOfClubs</servlet-name>
        <servlet-class>ListOfClubs.ServletListOfClubs</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletListOfClubs</servlet-name>
        <url-pattern>/ServletListOfClubs</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletListOfNews</servlet-name>
        <servlet-class>ListOfNews.ServletListOfNews</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletListOfNews</servlet-name>
        <url-pattern>/ServletListOfNews</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletListOfEvents</servlet-name>
        <servlet-class>ListOfEvents.ServletListOfEvents</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletListOfEvents</servlet-name>
        <url-pattern>/ServletListOfEvents</url-pattern>
    </servlet-mapping>

</web-app>